
__pycache__
*.pyc

/data/*
!data/.gitkeep

!data/airfoils
data/airfoils/*
!data/airfoils/.gitkeep
!data/airfoils/sample_airfoil.dat

!data/config
data/config/*
!data/config/.gitkeep
!data/config/sample_config.csv
!data/config/sample_ribdata.csv

!data/figure
data/figure/*
!data/figure/.gitkeep
